$paletteHeaderTextPrimary: #bab59e;
$paletteStrength: #bab69e;
$paletteSandPrimary: #c6a664;
$paletteDeskPrimary: #281d18;
$paletteParagraph: #fff;
$paletteSideMenu: #392c22;
$palettePopup: #241c14;
$paletteButton: #291e18;
$paletteSearchText: #737373;
$paletteSearchBg: #000;
$paletteTooltioParagraph: #1e1112;
$paletteTooltioKeyword: #490005;