%coverBg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
%containBg {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}